<template name="home">
  <div class="projects">
    <div class="project" id="project1">
      <div class="title">Finance</div>
      <div class="content">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis auctor tortor at tempor. Vivamus quis arcu congue, posuere ligula id, dignissim sapien. Proin aliquet, neque vitae fermentum faucibus, nisl tortor elementum elit, eu finibus neque quam eu justo. Aliquam laoreet arcu vitae nibh ultricies, at elementum libero feugiat. Fusce nec augue lacus. Sed id lorem augue. Proin pharetra diam leo, id ullamcorper augue convallis quis. Maecenas sit amet enim eget massa volutpat luctus ut non massa. Morbi scelerisque eros sed dui pulvinar, in malesuada orci imperdiet. Fusce sit amet congue nisl. Nunc imperdiet metus nec venenatis tristique. Vivamus vitae dui purus. Phasellus posuere nulla et nisi ullamcorper consequat.

       Aenean a augue sapien. Nullam tincidunt dui ac diam malesuada, in sollicitudin tortor rutrum. Ut urna ex, tristique id faucibus eu, luctus sit amet justo. Fusce commodo sapien sed nisl rutrum, nec tempus velit dapibus. Cras imperdiet, enim ac auctor hendrerit, purus metus egestas tortor, a luctus libero magna sed tortor. Mauris vitae justo non velit aliquam volutpat. Nunc tincidunt et nibh nec ornare. Fusce vel nisl nisl. Morbi ante magna, suscipit at ornare eget, tristique in metus.
      </div>
    </div>
    <div class="project" id="project2">
      <div class="title">Project 2</div>
      <div class="content">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis auctor tortor at tempor. Vivamus quis arcu congue, posuere ligula id, dignissim sapien. Proin aliquet, neque vitae fermentum faucibus, nisl tortor elementum elit, eu finibus neque quam eu justo. Aliquam laoreet arcu vitae nibh ultricies, at elementum libero feugiat. Fusce nec augue lacus. Sed id lorem augue. Proin pharetra diam leo, id ullamcorper augue convallis quis. Maecenas sit amet enim eget massa volutpat luctus ut non massa. Morbi scelerisque eros sed dui pulvinar, in malesuada orci imperdiet. Fusce sit amet congue nisl. Nunc imperdiet metus nec venenatis tristique. Vivamus vitae dui purus. Phasellus posuere nulla et nisi ullamcorper consequat.

       Aenean a augue sapien. Nullam tincidunt dui ac diam malesuada, in sollicitudin tortor rutrum. Ut urna ex, tristique id faucibus eu, luctus sit amet justo. Fusce commodo sapien sed nisl rutrum, nec tempus velit dapibus. Cras imperdiet, enim ac auctor hendrerit, purus metus egestas tortor, a luctus libero magna sed tortor. Mauris vitae justo non velit aliquam volutpat. Nunc tincidunt et nibh nec ornare. Fusce vel nisl nisl. Morbi ante magna, suscipit at ornare eget, tristique in metus.
      </div>
    </div>
    <div class="project" id="project3">
      <div class="title">Project 3</div>
      <div class="content">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis auctor tortor at tempor. Vivamus quis arcu congue, posuere ligula id, dignissim sapien. Proin aliquet, neque vitae fermentum faucibus, nisl tortor elementum elit, eu finibus neque quam eu justo. Aliquam laoreet arcu vitae nibh ultricies, at elementum libero feugiat. Fusce nec augue lacus. Sed id lorem augue. Proin pharetra diam leo, id ullamcorper augue convallis quis. Maecenas sit amet enim eget massa volutpat luctus ut non massa. Morbi scelerisque eros sed dui pulvinar, in malesuada orci imperdiet. Fusce sit amet congue nisl. Nunc imperdiet metus nec venenatis tristique. Vivamus vitae dui purus. Phasellus posuere nulla et nisi ullamcorper consequat.

       Aenean a augue sapien. Nullam tincidunt dui ac diam malesuada, in sollicitudin tortor rutrum. Ut urna ex, tristique id faucibus eu, luctus sit amet justo. Fusce commodo sapien sed nisl rutrum, nec tempus velit dapibus. Cras imperdiet, enim ac auctor hendrerit, purus metus egestas tortor, a luctus libero magna sed tortor. Mauris vitae justo non velit aliquam volutpat. Nunc tincidunt et nibh nec ornare. Fusce vel nisl nisl. Morbi ante magna, suscipit at ornare eget, tristique in metus.
      </div>
    </div>
    <div class="project" id="project4">
      <div class="title">Project 4</div>
      <div class="content">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis auctor tortor at tempor. Vivamus quis arcu congue, posuere ligula id, dignissim sapien. Proin aliquet, neque vitae fermentum faucibus, nisl tortor elementum elit, eu finibus neque quam eu justo. Aliquam laoreet arcu vitae nibh ultricies, at elementum libero feugiat. Fusce nec augue lacus. Sed id lorem augue. Proin pharetra diam leo, id ullamcorper augue convallis quis. Maecenas sit amet enim eget massa volutpat luctus ut non massa. Morbi scelerisque eros sed dui pulvinar, in malesuada orci imperdiet. Fusce sit amet congue nisl. Nunc imperdiet metus nec venenatis tristique. Vivamus vitae dui purus. Phasellus posuere nulla et nisi ullamcorper consequat.

       Aenean a augue sapien. Nullam tincidunt dui ac diam malesuada, in sollicitudin tortor rutrum. Ut urna ex, tristique id faucibus eu, luctus sit amet justo. Fusce commodo sapien sed nisl rutrum, nec tempus velit dapibus. Cras imperdiet, enim ac auctor hendrerit, purus metus egestas tortor, a luctus libero magna sed tortor. Mauris vitae justo non velit aliquam volutpat. Nunc tincidunt et nibh nec ornare. Fusce vel nisl nisl. Morbi ante magna, suscipit at ornare eget, tristique in metus.
      </div>
    </div>
    <div class="project" id="project5">
      <div class="title">Project 5</div>
      <div class="content">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis auctor tortor at tempor. Vivamus quis arcu congue, posuere ligula id, dignissim sapien. Proin aliquet, neque vitae fermentum faucibus, nisl tortor elementum elit, eu finibus neque quam eu justo. Aliquam laoreet arcu vitae nibh ultricies, at elementum libero feugiat. Fusce nec augue lacus. Sed id lorem augue. Proin pharetra diam leo, id ullamcorper augue convallis quis. Maecenas sit amet enim eget massa volutpat luctus ut non massa. Morbi scelerisque eros sed dui pulvinar, in malesuada orci imperdiet. Fusce sit amet congue nisl. Nunc imperdiet metus nec venenatis tristique. Vivamus vitae dui purus. Phasellus posuere nulla et nisi ullamcorper consequat.

       Aenean a augue sapien. Nullam tincidunt dui ac diam malesuada, in sollicitudin tortor rutrum. Ut urna ex, tristique id faucibus eu, luctus sit amet justo. Fusce commodo sapien sed nisl rutrum, nec tempus velit dapibus. Cras imperdiet, enim ac auctor hendrerit, purus metus egestas tortor, a luctus libero magna sed tortor. Mauris vitae justo non velit aliquam volutpat. Nunc tincidunt et nibh nec ornare. Fusce vel nisl nisl. Morbi ante magna, suscipit at ornare eget, tristique in metus.
      </div>
    </div>
    <div class="project" id="project6">
      <div class="title">Project 6</div>
      <div class="content">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis auctor tortor at tempor. Vivamus quis arcu congue, posuere ligula id, dignissim sapien. Proin aliquet, neque vitae fermentum faucibus, nisl tortor elementum elit, eu finibus neque quam eu justo. Aliquam laoreet arcu vitae nibh ultricies, at elementum libero feugiat. Fusce nec augue lacus. Sed id lorem augue. Proin pharetra diam leo, id ullamcorper augue convallis quis. Maecenas sit amet enim eget massa volutpat luctus ut non massa. Morbi scelerisque eros sed dui pulvinar, in malesuada orci imperdiet. Fusce sit amet congue nisl. Nunc imperdiet metus nec venenatis tristique. Vivamus vitae dui purus. Phasellus posuere nulla et nisi ullamcorper consequat.

       Aenean a augue sapien. Nullam tincidunt dui ac diam malesuada, in sollicitudin tortor rutrum. Ut urna ex, tristique id faucibus eu, luctus sit amet justo. Fusce commodo sapien sed nisl rutrum, nec tempus velit dapibus. Cras imperdiet, enim ac auctor hendrerit, purus metus egestas tortor, a luctus libero magna sed tortor. Mauris vitae justo non velit aliquam volutpat. Nunc tincidunt et nibh nec ornare. Fusce vel nisl nisl. Morbi ante magna, suscipit at ornare eget, tristique in metus.
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</template>
